html, body {
  height: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
}


#label {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}


.app {
  .row {

  }
}
